.flop-stats {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flop-stats-top {
  position: relative;
  width: 70%;
  display: flex;
  justify-content: center;
}

.flop-stats-top p {
  position: absolute;
  font-size: 30px;
  left: 0;
  margin-top: 10px;
}

.first {
  color: #ffd700;
}

.second {
  color: #c0c0c0;
}

.third {
  color: #cd7f32;
}

.flop-stats-top img {
  height: 180px;
  margin-top: 20px;
}

.recent-games {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 20px;
}

.game {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 5px 5px;
  line-height: 30px;
  text-align: center;
  font-size: 20px;
}

.win {
  background-color: Green;
}

.lose {
  background-color: red;
}

.stats {
  width: 90%;
  margin-top: 40px;
}

.stats-top {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.stats-bottom {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}

.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 18px;
}

.stat-num {
  font-size: 25px;
}
