.player-stats {
  height: 100vh;
  background-color: #181828;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
}

.player-stats-container {
  width: 80%;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.player-stats-container h3 {
  color: white;
  font-size: 35px;
  margin-bottom: 20px;
}
.player-names {
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 25px;
  cursor: pointer;
}

.player-names:focus {
  outline: none;
  box-shadow: none;
}

.active {
  background-color: white;
  color: black;
}

.player-names p {
  padding: 2px 5px;
}
