@font-face {
  font-family: "ArcadeClassic";
  src: url("./css/ARCADECLASSIC.TTF");
}

* {
  margin: 0;
  padding: 0;
  font-family: "ArcadeClassic";
}

.App {
  display: flex;
  justify-content: center;
  position: relative;
  display: flex;
  justify-content: center;
  background-color: grey;
}

.nav {
  position: fixed;
  transition: all 0.5s;
  width: 100%;
  max-width: 600px;
}

.nav .MuiSvgIcon-root {
  margin: 15px;
  cursor: pointer;
}

.nav-show {
  color: white;
}

.nav-hide {
  color: black;
}

.btn {
  border-bottom: 6px inset rgba(0, 0, 0, 0.5);
  border-left: 6px inset rgba(0, 0, 0, 0.5);
  border-right: 6px inset rgba(255, 255, 255, 0.5);
  border-top: 6px inset rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 25px;
  margin: 1rem;
  padding: 0.5rem;
  text-transform: uppercase;
  width: 150px;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}
